<!DOCTYPE html>
<html lang="en">
    <head>
        <title><%= title %></title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="/css/main.css" rel="stylesheet">
    </head>
    <body>

    <section class="body">

        <nav>
            <ul class="list-inline">
                <li><a <% if (title === 'Home'){ %> class="active" <% } %> href="/">Home</a></li>
                <li><a <% if (title === 'About'){ %> class="active" <% } %> href="/about">About</a></li>
            </ul>
        </nav>



        <!--Load page body here-->
        <%- body %>

    </section>



    <footer>
    <small>Kacper Bawol 2017 v.01</small>
    </footer>


    <script src="/js/main.js"></script>

    </body>
</html>