body {
  background-color: white;
  color: black;
  font-family: monospace;
}
.body {
  max-width: 60%;
  margin: 0 auto;
  left: auto;
  right: auto;
}
ul.list-inline {
  list-style: none;
  margin-left: -40px;
}
ul.list-inline li {
  display: inline-block;
  margin-right: 10px;
}
li #remove {
  opacity: 0;
  color: red;
}
li:hover #remove {
  opacity: 1;
}
nav {
  padding: 20px 0;
  background-color: #f9f9f9;
  text-align: center;
}
nav a {
  text-decoration: none;
  color: blue;
  opacity: 0.5;
}
nav a.active {
  opacity: 1;
}
h1 {
  color: rgba(0, 0, 0, 0.2);
}
form {
  margin: 20px 0;
}
form input,
form label {
  display: block;
}
form button {
  margin: 20px 0;
  background-color: blue;
  color: white;
}
footer {
  position: absolute;
  bottom: 0;
  left: 0;
  margin: 10px;
  color: lightslategrey;
}
